:root {
  --color-001: #2a2a2a;
  --color-002: #ff8000;
  --color-003: #ebedd5;
}

body {
  background-color: var(--color-001);
  padding: 30px 200px 30px 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-003);
}

h1 {
  text-align: center;
  color: var(--color-002);
}

.caja {
  box-sizing: border-box;
  width: 300px;
  height: 180px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid var(--color-002);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--color-002);
  text-align: center;
  background-color: var(--color-002);
  color: var(--color-001);
}
